
body{
    background: url("images/car-8031261_1280.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}


.about{
    width: 100%;
    margin-top: 250px;
    padding:20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.461);
    color: snow;
    backdrop-filter: blur(15px);
}

.about>h1{
    flex: 1 100%;
}

.about>p,.about>ul{
    flex: 1 50%;
}

.about>p{
    text-align: center;
    align-content: center;
    font-size: 12px;
    font-style: italic;
    padding: 15px 50px;
    width: 60%;

}
.about>p>i.fa-quote-left{
    float: left;
}

.about>p>i.fa-quote-right{
    float: right;
}
.about>p>i{
    font-size: 14px;
}

h1,p{
    text-align: center;
}

p{
    font: 500 13px "Arial black";
    flex-wrap: wrap;
}

h1{
    font: bold 40px "Arial Black" ;
}

ul>h2{
    margin: 0 0 15px 0;
    font: bold 20px "Arial Black" ;
    text-align: center;
}

ul.certificates{
    padding: 0px 10px;
    margin: 13px 0px;
}

ul.certificates>li{
    list-style: none;
    padding: 5px;
}

ul.certificates>li>a{
    font: 500 13px "Arial black";
    text-decoration: none;
    color: snow;
}

ul.certificates>li>a:hover{
    color: rgb(0, 255, 68);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

ul.certificates>li>a>b{
    font-size: 15px;
}


.projects{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.681);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.projects>div.slide>.image{
    width:20%;
    height: 50%;
    position: absolute;
}

@keyframes rotate {
    0%{ transform: rotateY(0deg)}
    100%{ transform: rotateY(360deg)}
}
.projects>div.slide{
    width:100%;
    height: 90%;
    transform-style: preserve-3d;
    animation: rotate 70s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.projects>div.slide>.image:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.projects>div.slide>.image:nth-child(2){
    transform: rotateY(72deg) translateZ(300px);
  
}
.projects>div.slide>.image:nth-child(3){
    transform: rotateY(144deg) translateZ(300px);
    background-color: black;
}
.projects>div.slide>.image:nth-child(4){
    transform: rotateY(216deg) translateZ(300px);
    background-color: black;
}
.projects>div.slide>.image:nth-child(5){
    transform: rotateY(288deg) translateZ(300px);
    background-color: black;
}



.drive{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.442);
    height: 300px;
    backdrop-filter: blur(15px);
}

.drive>div.drive_image{
    flex: 2 50%;
    width: 100%;
    height: 100%;
}

.driven_text{
    padding: 40px 10px;
    flex: 2 50%;
    width: 100%;
    height: 100%;
}

.driven_text>p{
    text-align: left;
    vertical-align: middle;
}

h1.driveHead{
    margin-top: -200px;
    text-align: center;
    vertical-align: middle;
    line-height:-10px;
    font-size: 60px;
}

.closing{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width: 100%;
    height: 400px;
    margin-top: 250px;
    background-color: rgba(255, 255, 255, 0.392);
    backdrop-filter: blur(15px);
}

.text1{
    padding: 50px;
    flex: 2 50%;
    width: 100%;
    height: 100%;
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.btn{
    padding: 30px;
    height: 80px;
}

.btn-contact{
    text-decoration:none;
    background-color:black;
    text-align: center; 
    color: snow;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.btn-contact:hover{
    background-color:snow;
    color: black;
    border-color: snow ;
}
.btn-contact:active{
    border: 5px  black;
    border-style:inset;
}
.img1{
    flex: 2 50%;
    width: 100%;
    height: 100%;
}


.nav-sec{
    background-color: rgba(0, 0, 0, 0.891);
}

.nav-list> li>a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

button.nav-menu{
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

button.nav-menu:hover{
    color:snow;
}

.contact-sec{
    margin-top: 0px;
    background-color: #54545477;
    backdrop-filter: blur(10px);
}

/*Quicklinks to other pages*/
.quicklinks{
    width: 30%;
    height: 100%;
    float: left;
    padding: 15px;
    color: rgb(255, 255, 255);
    align-content: center;
}

.quicklinks>.links>li{
    margin-top: 10px;
    list-style-type:none;
}


.projects-s{
    display: none;
}

@keyframes fade {
    0%{opacity: 0;}
    100%{opacity: 1;}
}



/*navigation bar and div tags responsiveness*/ 
@media  screen and (max-width:1100px) {
    
    .quicklinks{
        background-color: rgba(0, 0, 0, 0.248);
        width:100%;
        height: 30%;
    }
    .contact-details{ background-color: rgba(0, 0, 0, 0.248);}

}
@media  screen and (max-width:850px) {
    button.btnActive{
        color:white;
        background-color: black;
        border: 0px black;
    }

    .projects-s>div.slide>.image.active{
        animation: fade 1s ease;
        opacity:1;
    }

    .projects-s>div.slide>.image{
        width:100%;
        height: 80%;
        background-color: black;
        position: absolute;
        opacity: 0;
    }
    .projects-s>div.slide>.image>img{
        width:100%;
        height:100%;
    }
    .projects-s{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: #000000cc;
        backdrop-filter: blur(10px);
    }

    .projects{
        display: none;
    }

    .projects-s>div.slide{
        padding: 35px;
        opacity: 1;
        width:100%;
        height:80%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projects-s>h1{
        height:20%;
        padding: 10px 0px;
    }

    .projects-s>div.slide>button{
        border: none;
        background-color: #01010167;
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        justify-self: center;
        z-index: 1;
    }
    
    .projects-s>div.slide>button:hover{
        border: none;
        background-color: #000000cc; 
    }
  
    .projects-s>div.slide>button:active{
        border: none;
        background-color: #18161600; 
    }

    .left-arrow{ left: 0;}
    
    .right-arrow{right: 0;}
    
    .fa-chevron-left,.fa-chevron-right{
        font-size: 2em;
        font-weight: 600;
        color:snow;
    }

    .contact-details>address{
        width: 100%;
        float: left;
        height: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        color: #ffffff
    }
    
    /*Social Media*/
    .contact-details>.social-media{
        display: flex;
        width: 100%;
        height: 40%;
        align-content: center;
        text-align: center;
        gap: 50px;
    }

    button.btnActive:active{
        background-color: rgba(0, 0, 0, 0.508);
        color:rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);
    }

    .about>p,.about>ul{
        flex: 1 100%;
    }

    .drive{ 
        margin-top: 150px;
    }

    .drive>div.drive_image{
        flex: 1 100%;
        height: 100%;
    }
    
    .driven_text{
        padding: 10px;
        flex: 1 100%;
        height: 100%;
    }

    .closing{
        height: 500px;
    }

    .text1{
        padding: 5px 30px;
        height: 50%;
        width: 100%;;
    }
    
    .img1{
        flex: 1 100%;
        height:50%;
    }

    .map-sec{
        margin-top: 0px;
        background-color: rgba(0, 0, 0, 0.248);
        backdrop-filter: blur(10px);
    }
    
    .quicklinks{
        background-color: rgba(0, 0, 0, 0.248);
        width:100%;
        height: 30%;
    }

    .contact-details{ background-color: rgba(0, 0, 0, 0.248);}

    .show{
        margin-top: -50px;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.891);
        animation: navigate 2s ease;
        opacity: 1;
        z-index: 1;
    }

    .hide{
        opacity: 0;
        width: 0%;
        height: 0vh;
        animation: navigate-out 2s ease-out;
    }


}

/*navigation bar and div tags responsiveness*/ 
@media  screen and (max-width:500px) {

    .projects-s>div.slide>.image.active{
        animation: fade 1s ease;
        opacity:1;
    }

    .projects-s>div.slide>.image{
        width:100%;
        height: 80%;
        background-color: black;
        position: absolute;
        opacity: 0;
    }
    .projects-s>div.slide>.image>img{
        width:100%;
        height:100%;
    }
    .projects-s{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        background-color: #000000cc;
        backdrop-filter: blur(10px);
    }

    .projects{
        display: none;
    }

    .projects-s>div.slide{
        padding: 35px;
        opacity: 1;
        width:100%;
        height:80%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .projects-s>h1{
        height:20%;
        padding: 10px 0px;
    }

    .projects-s>div.slide>button{
        border: none;
        background-color: #01010167;
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        justify-self: center;
        z-index: 1;
    }
    
    .projects-s>div.slide>button:hover{
        border: none;
        background-color: #000000cc; 
    }
  
    .projects-s>div.slide>button:active{
        border: none;
        background-color: #18161600; 
    }

    .left-arrow{ left: 0;}
    
    .right-arrow{right: 0;}
    
    .fa-chevron-left,.fa-chevron-right{
        font-size: 2em;
        font-weight: 600;
        color:snow;
    }

    .contact-details>address{
        width: 100%;
        float: left;
        height: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        color: #ffffff
    }
    
    /*Social Media*/
    .contact-details>.social-media{
        display: flex;
        width: 100%;
        height: 40%;
        align-content: center;
        text-align: center;
        gap: 50px;
    }

    button.btnActive:active{
        background-color: rgba(0, 0, 0, 0.508);
        color:rgb(0, 0, 0);
        border: 1px solid rgb(255, 255, 255);
    }

    .about>p,.about>ul{
        flex: 1 100%;
    }

    .drive{ 
        margin-top: 150px;
    }

    .drive>div.drive_image{
        flex: 1 100%;
        height: 100%;
    }
    
    .driven_text{
        padding: 10px;
        flex: 1 100%;
        height: 100%;
    }

    .closing{
        height: 500px;
    }

    .text1{
        padding: 5px 30px;
        height: 50%;
        width: 100%;;
    }
    
    .img1{
        flex: 1 100%;
        height:50%;
    }

    .map-sec{
        margin-top: 0px;
         background-color: rgba(0, 0, 0, 0.248);
        backdrop-filter: blur(10px);
    }
    
    .quicklinks{
        background-color: rgba(0, 0, 0, 0.248);
        width:100%;
        height: 30%;
    }

    .contact-details{background-color: rgba(0, 0, 0, 0.248);}

    .show{
        margin-top: -50px;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.891);
        animation: navigate 2s ease;
        opacity: 1;
        z-index: 1;
    }

    .hide{
        opacity: 0;
        width: 0%;
        height: 0vh;
        animation: navigate-out 2s ease-out;
    }

}
