body{
    background: url("images/pen-4337521_1280 (2).jpg") no-repeat center fixed;
    background-size: cover;
    font: 200 13px "Arial black";
}

.contact{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 685px;
    background-color: rgba(0, 0, 0, 0.301);
}

.form-sec{
    flex: 2 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-sec{
    flex: 2 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.404);
}

h1{
    font-size: 40px;
    text-align: center;
}

form{
    display: block;
    background-color: #a3a6a563;
    padding: 0px;
}

.form-group{
    padding: 5px 20px;
    width: 100%;
    display: inline-block;
}

label{
    display: block;
    padding: 5px;
}

input[type=text], input[type=email], select, textarea {
  width: 350px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit]{
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 35%;
  margin-bottom: 5%;
}

input[type=submit]:hover {
  background-color: #ffffff;
  color: #000000;
}

.contact-details{
    width: 40%;
    background-color: #54545477;
}

/*Social Media*/
.contact-details>.social-media{
    width: 100%;
    height: 30%;
    padding: 5px;
    color: #ffffff;
}

.contact-details>.social-media>a{
    color: #ffffff;
}

.quicklinks{
    width:30%;
    height: 100%;
    float: left;
    background-color: #54545478;
    padding: 15px;
    color: #ffffff;
    align-content: center;
}

.nav-sec{
    background: url("images/wood-1866667_1280.jpg") fixed no-repeat center;
    background-size: cover;
}

.nav-list> li>a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

button.nav-menu{
    background-color: rgba(155, 155, 155, 0.155);
    border: 0px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

button.nav-menu:hover{
    color:rgb(255, 255, 255);
    border: 0px;
}

.contact-details>.social-media>a :hover{
    color: #000000;
}

/*Map segment*/
/*container*/
.map-sec{
    float: right;
    padding: 15px;
    width: 30%;
    height: 100%;
}

/*Map elementt*/
#map{
    width: 100%;
    float: right;
    border: 1px solid black;
    height: 100%;
    border-radius: 10px;
}

@media  screen and (max-width:1100px) {
    .contact-sec{
        background-color: #54545478;
        height: 800px;
    }
    .contact-details{
        width: 100%;
        height: 30%;
        backdrop-filter: blur(5px);
    }
    .contact-details>address{
        width: 100%;
        float: left;
        height: 60%;
        display: flex;
        justify-content: center;
        align-content: center;
        color: #ffffff
    }
    
    /*Social Media*/
    .contact-details>.social-media{
        display: flex;
        width: 50%;
        height: 40%;
        align-content: center;
        text-align: center;
        gap: 50px;
    }

    .quicklinks{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .map-sec{
        width: 100%;
        height: 40%;
        backdrop-filter: blur(5px);
    }
}

@media  screen and (max-width:850px) {
   
   
    button.btnActive{
        color:white;
        background-color: black;
        border: 0px black;
    }

    .show{
        display: block;
        margin-top: -50px;
        width: 100%;
        height: 100vh;
        opacity: 1;
        z-index: 1;
        animation: navigate 2s ease;
    }

    .nav-list> li.close-link{
        display: block;
    }

   
    .hide{
        opacity: 0;
        width: 0%;
        height: 0vh;
        animation: navigate-out 2s ease-out;
    }

    .nav-logo{
        width: 120px;
    }
    .contact{
        flex-direction: column;
        backdrop-filter: blur(10px);
        box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.404);
        height: 1200px;
    }

    .location-sec{
        padding: 20px;
        flex: 1 100%;
    }

    form{
        background-color: rgba(0, 0, 0, 0);
    }
    .contact-details{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .contact-details>address{
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        color: #ffffff;
    }
    
    /*Social Media*/
    .contact-details>.social-media{
        display: flex;
        width: 100%;
        align-content: center;
        text-align: center;
        gap: 50px;
    }

    .contact-details{
        width: 100%;
       
    }

    .quicklinks{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .map-sec{
        width: 100%;
    }
   
}

@media screen and (max-width:700px) {
    .contact{
        flex-direction: column;
        backdrop-filter: blur(10px);
        box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.404);
        height: 1200px;
        width: 100%;
    }

    .location-sec{
        padding: 20px;
        width: 100%;
    }

    .form-sec{
        width: 100%;
        padding: 0%;
    }

    form{
        background-color: rgba(0, 0, 0, 0);
        padding: 0px;
    }    
}
@media screen and (max-width:380px) {
    .contact{
        flex-direction: column;
        backdrop-filter: blur(10px);
        box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.404);
        height: 1200px;
        width: 100%;
    }

    .location-sec{
        padding: 2px;
        width: 100%;
    }


    .form-sec{
        width: 100%;
    }

    form{
        background-color: rgba(0, 0, 0, 0);
        padding: 0px;
    }    
}
@media screen and (max-width:360px) {
    .nav-sec{width: 100%;}
    .contact{
        flex-direction: column;
        backdrop-filter: blur(10px);
        box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.404);
        height: 1200px;
        width: 100%;
    }

    .location-sec{
        padding: 2px;
        width: 100%;
    }

    .form-sec{
        width: 100%;
    }

    form{
        background-color: rgba(0, 0, 0, 0);
        padding: 0px;
    }    
}