body{
    background: url("images/pen-4337521_1280 (2).jpg") no-repeat center fixed;
    background-size: cover;
    font: 200 13px "Arial black";
}

.contact{
    margin-top: 200px;
    padding: 10px;
    /* Center horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.301);
}
.form-sec{
    flex: 2 50%;
    padding: 10px;
    /* Center horizontally*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-sec{
    flex: 2 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


h1{
    font-size: 40px;
    text-align: center;
}
form{
   display: block;
    background-color: #a3a6a563;
    padding: 30px;
}

.form-group{
    padding: 5px;
    width: 100%;
    display: inline-block;
}

label{
    display: block;
    padding: 5px;
}
input[type=text],input[type=email], select, textarea {
  width: 350px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


.contact-details{
    width: 70%;
    background-color: #545454e6;;
}
.contact-details>address{
    width: 50%;
    height: 100%;
    padding: 10px;
    align-content: center;
    float: left;

}

/*Social Media*/
.contact-details>.social-media{
    width: 50%;
    height: 100%;
    padding: 5px;
    align-content: center;
    text-align: center;
    float: right;
}
.quicklinks{width:30%;float: right;background-color: #545454c8;}

.nav-sec{
background: url("images/wood-1866667_1280.jpg") fixed no-repeat center;
background-size: cover;
}

.nav-list> li>a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}

button.nav-menu{
    background-color: rgba(155, 155, 155, 0.155);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

button.nav-menu:hover{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}



@media  screen and (max-width:1100px) {
    .contact-details>address{
        width: 100%;
        height: 100%;
        padding: 50px;
        align-content: center;
        color: rgb(0, 0, 0);
        background-color: #545454c8;
    }
    
    /*Social Media*/
.contact-details>.social-media{
    display: flex;
    width: 50%;
    height:100%;
    padding: 100px;
    align-content: center;
    text-align: center;
    background-color: #545454c8;

}
    .contact-details{
        width: 70%;
        background: url("images/pen-4337521_1280 (2).jpg") no-repeat center fixed;
        background-size: cover;
    
        padding: 0;
    }
    .quicklinks{width:30%;float: right;}
}
@media  screen and (max-width:850px) {
   
    .btnActive{
     
        color:white;
        border: 1px solid rgb(0, 0, 0);
     
    }
    
    .show{
        display: block;
        width: 100%;
        height: 100vh;
        background: url("images/wood-1866667_1280.jpg") fixed no-repeat center;
        background-size: cover;
        animation: navigate 2s ease;
    }

    .contact-details>address{
        width: 100%;
        height: 100%;
        padding: 50px;
        align-content: center;
        color: black;
        background-color: #7777774a;
    }
    
    /*Social Media*/
.contact-details>.social-media{
    display: flex;
    width: 50%;
    height:100%;
    padding: 100px;
    align-content: center;
    text-align: center;
    background-color: #7777774a;
}
    .contact-details{
        width: 100%;
        background: url("images/pen-4337521_1280 (2).jpg") no-repeat center fixed;
        background-size: cover;
    
        padding: 0;
    }
    .quicklinks{width:100%;float: right;background: url("images/wood-1866667_1280.jpg") no-repeat center fixed;
        background-size: cover;}
   
}

@media screen and (max-width:700px) {
    
    .form-sec{
        float: left;
       
        padding: 10px;
        /* Center horizontally*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .location-sec{
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
}