@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: Caprasimo;
    src: url('fonts/Caprasimo/Caprasimo-Regular.ttf') format('ttf')
}

@font-face {
    font-family: Oswald;
    src: url('fonts/Oswald/Oswald-VariableFont_wght.ttf') format('ttf')
}

@font-face {
    font-family: Poppins;
    src: url('fonts/Poppins/Poppins-Regular.ttf') format('ttf')
}

@font-face {
    font-family: 'Work Sans';
    src: url('fonts/Work_Sans/WorkSans-VariableFont_wght.ttf') format('ttf')
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}


body{
    background: url("images/laptop-601536_1280.jpg") no-repeat center fixed;
    background-size: cover;
    color:snow;

}

.bio-sec{
    height:1200px;
    width: 100%;
    word-wrap: break-word;   /*break long words so they wrap onto next line */
    margin-top: 50px;
    font:  bold 14px "Arial Black", Arial;
    color: rgb(255, 255, 255);
}

b{
    font: bolder 20px "Georgia",Serif;
}

.nav-sec{
    width: 100%;
    height:50px;
    background: url("images/wood-1866667_1280.jpg") fixed no-repeat center;
    background-size: cover;
    position: -webkit-fixed; /* Safari */
    position: fixed;
    top: 0;
    z-index: 1;
}

#img-mobile{
    display: none;
}

#img-desktop{
    display: block;
}

#list{
    float: right;
}

button.nav-menu{
    display: none;
    height: 100%;
    width: 50px;
    color:black;
    border: 0px  rgb(0, 0, 0);
    background-color: rgba(155, 155, 155, 0.155);
}

button.nav-menu:hover{
    color:white;
}

button.nav-menu:active{
    color:white;
}

.nav-logo{
    margin-top:0;
    height: 50px;
    width: 200px;
    float: left;
    display: flex ;
    margin-left: auto;
    margin-right: auto;
}

.nav-list{
   padding: 0px;
    list-style-type:none;
    top:0;
    margin: 0;
    height: 50px;
}

.nav-list> li.nav-link{
    float: left;
    text-align: center;
}

.nav-list> li.close-link{
    display: none;
    padding:14px;
    height: 3rem;
    text-align: right;
}

.nav-list> li>a{
    text-decoration: none;
    color: snow;
    font:  bold 15px "Arial Black", Arial;
    padding:14px;
    width: 100%;
    display: block;
}

.nav-list> li>a:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    height: 100%;
}

.CVV{
    width: 100%;
    padding: 25px 5px;
    height: 65%;
    background-color: rgb(0, 0, 0);
}

.CVV video{
    width: 100%;
    max-height: 100%;
}

.summary{
    width: 100%;
    height: 35%; 
    margin-top: 150px;
    display: flex;
    flex-direction: row;
}

.bio{
    content: "";
    clear: both;
    display: table;
    width:50%;
    background-color:rgba(0, 0, 0, 0.744);
    backdrop-filter: blur(10px);
    float: left;
    padding: 25px 60px ;
    height: 100%;
    
}

.bio-para{
    text-wrap: wrap;
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.image{
    background-color: rgba(94, 94, 94, 0.286);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    float: right;
    width: 50%;
    user-select: none;
}

.bio-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: -2px 3px 15px white, 2px -5px 15px white, -2px 5px 15px white, 3px -5px 15px white;
    width:350px; height:80%;
    background: url("images/biopic (2).jpg") no-repeat center;
    background-size: 100%;
}



/*Contact details section*/
.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

/*container*/
.contact-sec{
    width: 100%;
    height: 250px;
    margin: auto;
    margin-top: 350px;
    font:  800 16px "Arial Black", Arial;
    background-color: rgba(75, 75, 75, 0.381);
}

/*segment containing address and social media links*/
.contact-details{
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    width: 40%;
    height: 100%;
    float:left;
}
/*Physical Address*/
.contact-details>address{
    width: 100%;
    height: 70%;
    padding: 10px;
    margin-top: 30px;
    align-content: center;
    color:#ffffff ;
}

/*Social Media*/
.contact-details>.social-media{
    width: 100%;
    height: 30%;
    padding: 5px;
}

.social-media>a{
    color: #ffffff; 
    padding:20px;
    height:28px;
}

.social-media>a:hover{
    color: #000000; 
}

.social-media>a:active{
    color: #fffefe; 
}
/*Quicklinks to other pages*/
.quicklinks{
    width: 30%;
    height: 100%;
    float: left;
    padding: 15px;
    color: rgb(255, 255, 255);
    align-content: center;

}

.quicklinks>.links>li{
    margin-top: 10px;
    list-style-type:none;
}

.quicklinks>.links>li>a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 140px;
    padding: 10px;
    height: 2em;
}

.quicklinks>.links>li>a:hover{
    color: #000000;
    border-bottom: 2px solid #ffffff;
}

.quicklinks>.links>li>a:active{
    text-decoration: none;
    color: snow
}
/*Map segment*/
/*container*/
.map-sec{
    float: right;
    padding: 15px;
    width: 30%;
    height: 100%;
}

/*Map elementt*/
#map{
  
  width: 100%;
    float: right;
    border: 1px solid blue;
    height: 100%;
    border-radius: 10px;
}

.work-sans-400 {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

@media  screen and (max-width:1100px) {
    
    .CVV{
        height:30%;
        padding: 0px 5px;
    }
    .summary{
        height:70%;
        flex-direction: column-reverse;
    }
    .bio{
        width: 100%;
        height: 50%;
    
     }
    .bio-para{
        width: 100%;
    }
    .image{
        width: 100%;
        height: 50%;
        
    }
    .contact-sec{
        background-color: rgba(75, 75, 75, 0.381);
        height: 800px;
    }
    .contact-details{
        width: 100%;
        height: 30%;
        backdrop-filter: blur(5px);
    }
    /*Physical Address*/
    .contact-details>address{
        width: 100%;
        float: left;
        display: flex;
        height: 60%;
        justify-content: center;
        align-content: center;
        color: white;
    }

    /*Social Media*/
    .contact-details>.social-media{
        width: 50%;
        float: right;
        display: flex;
        height: 40%;
        justify-content: center;
        align-self: center;
        gap: 50px;
    }

    .social-media>a{
        color: #ffffff; 
        font-size: 1.5rem;
    }
    .social-media>a:hover{
        color: #000000; 
    }
 
    .quicklinks{
        color: #ffffff;
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        backdrop-filter: blur(5px);
        text-align: center;
    }
    .quicklinks>.links>li>a{
        text-decoration: none;
        color: #ffffff;
    }

    .quicklinks>.links>li>a:hover{
        text-decoration: none;
        color: black
    }

    .map-sec{
        width: 100%;
        height: 40%;
    }
}


@keyframes navigate {
    from{width: 0%;height:0vh;}
    to{height:100vh;width: 100%;}
}
@keyframes navigate-out {
    from{height:100vh;width: 100%;opacity: 1;}
    to{width: 0%;height:0vh;opacity: 0;}  
}
@keyframes swipe {
    from{width: 0%; font-size: 0px;}
    to{width: 100%;font-size: 15px;}
}

@media  screen and (max-width:850px) {
    .nav-list{
        display: none;   
    }

    #img-mobile{
        display: block;
    }

    #img-desktop{
        display: none;
    }

    #list{
        width: 100%;
    }
   
    button.btnActive{
        color:white;
        background-color: black;
        border: 0px black;
    }

    .nav-list> li.close-link{
        display: block;
    }

    .nav-list> li.close-link:hover{
        text-shadow: 2px 1px 2px snow,-2px -1px 2px snow;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .show{
        margin-top: -50px;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.891);
        animation: navigate 2s ease-in;
        opacity: 1;
        z-index: 1;
    }

    .hide{
        opacity: 0;
        width: 0%;
        height: 0vh;
        animation: navigate-out 2s ease-out;
    }

    li.nav-link{
        width: 100%;
    }

    li.nav-link>a{
        width: 100%;
        color: #ffffff; 
        animation:swipe 2s ease-in-out;
    }

    button.nav-menu{
        display:block;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
    }
   
    .CVV{
        height:40%;
        padding: 0px 5px;
    }

    .summary{
        height:60%;
    }

    .bio{
        width: 100%;
        height: 50%;
     }

    .bio-para{
        width: 100%;
    }

    .image{
        width: 100%;
        height: 50%;
    }

    .bio-pic{
        height: 75%;
    }

    .contact-details{
        width: 100%;
    }


   /*Physical Address*/
    .contact-details>address{
        color: #ffffff; 
        width: 100%;
        height: 60%;
        float: left;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /*Social Media*/
    .contact-details>.social-media{
        width: 100%;
        height: 40%;
        float: right;
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 50px;
    }
   
    .quicklinks{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .social-media>a{
       font-size: 1.5rem;
    }
    .map-sec{
        width: 100%;
    }
}



@media  screen and (max-width:650px) {
    .nav-list{
        display: none;   
    }
    .show{
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.891);
    }
    li.nav-link{
        width: 100%;
    }
    li.nav-link>a{
        width: 100%;
    }
    button.nav-menu{
        display:block;
        right: 0;
        top: 0;
    }
   
    .bio{
       width: 100%;
    }
    .CVV{
        height:30%;
        padding: 0px 5px;
    }
    .bio-para{
        width: 100%;
    }
    .summary{margin-top: 0;height: 70%;}
    .image{
        width: 100%;
    }
    .contact-sec{margin-top: 0}
    .contact-details{
        width: 100%;
        display: flex;
    }
    /*Physical Address*/
    .contact-details>address{
        width: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    /*Social Media*/
    .contact-details>.social-media{
        width: 100%;
        float: right;
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 50px;
    }

    .quicklinks{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
  
    .map-sec{
        width: 100%;
    }
}


@media  screen and (max-width:480px) {
    .nav-list{
        display: none;   
    }
    button.nav-menu{

        width: 25%;
    
    }
    .show{
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.891);
    }
    li.nav-link{
        width: 100%;
    }
    li.nav-link>a{
        width: 100%;
    }
    button.nav-menu{
        display:block;
        position: absolute;
        right: 0;
        top: 0;
    }
   
    .bio{
       width: 100%;
    }
    .CVV{
        height:30%;
        padding: 0px 5px;
    }
    .bio-para{
        width: 100%;
    }
    .image{
        width: 100%;
    }
    
    .contact-details{
        width: 100%;
        display: flex;
    }
    /*Physical Address*/
    .contact-details>address{
        width: 100%;
        float: left;
        display: flex;
        justify-items: center;
        color: #ffffff; 
    }

    /*Social Media*/
    .contact-details>.social-media{
        width: 50%;
        float: right;
        display: flex;
        justify-content: center;
        align-self: center;
        gap: 50px;
    }

    .quicklinks{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 100%;
    }
   
    .map-sec{
        width: 100%;
    }
}


/*Bio image responsiveness*/
@media  screen and (max-width:1365px) {
    .bio-pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        border: 5px solid white;
        width:40%; height:60%;
    }
}

@media  screen and (max-width:1200px) {
    .bio-pic{
        width: 40%;
        height: 60%;
    }
}

@media  screen and (max-width:1150px) {
    .bio-pic{
        width: 40%;
        height: 60%;
    }
}

@media  screen and (max-width:1100px) {
    .bio-pic{
        width: 25%;
        height: 60%;
    }
}

@media  screen and (max-width:800px) {
    .bio-pic{
        width: 35%;
        height: 70%;
    }
}
@media  screen and (max-width:750px) {
    .bio-pic{
        width: 40%;
        height: 70%;
    }
}

@media  screen and (max-width:650px) {
    .bio-pic{
        width: 45%;
        height: 70%;
    }
}
@media  screen and (max-width:600px) {
    .bio-pic{
        width: 50%;
        height: 70%;
    }
}
@media  screen and (max-width:550px) {
    .bio-pic{
        width: 50%;
        height: 70%;
    }
}

@media  screen and (max-width:500px) {
    .bio-pic{
        width: 60%;
        height: 70%;
    }
}

@media  screen and (max-width:480px) {
    .bio-pic{
        width: 60%;
        height: 65%;
    }
}

